@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}

html,
body {
  height: 100%;
}

/* Target paragraphs inside list items rendered by prose */
.prose li > p {
  line-height: normal;
}

/* Remove padding/margin from list items themselves */
.prose li {
  padding: 0;
  margin: 0;
  line-height: 0;
}
